export type {{{name}}} = {{{internalPrefix}}}Validated.{{{name}}};

export function {{{collapser}}}(resolved: {{{internalPrefix}}}Resolved.{{{name}}}): {{{name}}} {
    return <{{{internalPrefix}}}Validated.{{{name}}}> resolved;
}
