export type {{{name}}} = undefined | {{{internalPrefix}}}Validated.{{{name}}};

export function {{{initializer}}}(validated: {{{internalPrefix}}}Validated.{{{name}}}): {{{name}}} {
    return validated;
}

export function {{{resolver}}}(dest: {{{name}}}, src: {{{internalPrefix}}}Validated.{{{name}}}, resolvedReferences: {
{{#references}}
    {{{name}}}: {[key: string]: {{{type}}} },
{{/references}}
}): {{{name}}} {
    return src;
}
