export type {{{name}}} =
{{#types}}
    {{{.}}} |
{{/types}}
    undefined;

export function {{{initializer}}}(validated: {{{internalPrefix}}}Validated.{{{name}}}): {{{name}}} {
    return validated;
}

export function {{{resolver}}}(dest: {{{name}}}, src: {{{internalPrefix}}}Validated.{{{name}}}, partialReferences: {{{internalPrefix}}}References.PartialReferences): {{{name}}} | {{{internalPrefix}}}Util.ResolutionError {
    return src;
}
