import {ValidationError} from "../ValidationError";
import * as Private from "../private";
import * as Public from "../public";

{{#isPublic}}
export type {{{typeName}}} = {{{namespacedTypeDef}}};

{{/isPublic}}
export function {{{validatorName}}}(data: unknown): {{{typeName}}} | ValidationError {
    let validated: {{{typeName}}} | ValidationError;
{{#typeValidatorNames}}
    validated = {{{.}}}(data);
    if (!(validated instanceof ValidationError)) return validated;
{{/typeValidatorNames}}
    return new ValidationError('Type not in [{{{typeDef}}}]');
}
