export type {{{name}}} = {
{{#properties}}
    {{{name}}}: {{{type}}},
{{/properties}}
};

export function {{{collapser}}}(resolved: {{{internalPrefix}}}Resolved.{{{name}}}): {{{name}}} {
    return {
    {{#properties}}
        {{{name}}}: {{{collapser}}}(resolved!.{{{name}}}),
    {{/properties}}
    };
}
