export type {{{name}}} = undefined | {
{{#properties}}
    {{{name}}}: {{{type}}},
{{/properties}}
};

export function {{{initializer}}}(validated: {{{internalPrefix}}}Validated.{{{name}}}): {{{name}}} {
    return {
{{#properties}}
        {{{name}}}: {{{initializer}}}(validated.{{{name}}}),
{{/properties}}
    };
}

export function {{{resolver}}}(dest: {{{name}}}, src: {{{internalPrefix}}}Validated.{{{name}}}, resolvedReferences: {{{internalPrefix}}}References.ResolvedReferences): {{{name}}} {
    {{{internalPrefix}}}assert.ok(typeof dest !== "undefined");
{{#properties}}
    dest.{{{name}}} = {{{resolver}}}(dest.{{{name}}}, src.{{{name}}}, resolvedReferences);
{{/properties}}
    return dest;
}
