export type {{{name}}} = undefined | {{{type}}};

export function {{{initializer}}}(validated: {{{internalPrefix}}}Validated.{{{name}}}): {{{name}}} {
    return undefined;
}

export function {{{resolver}}}(dest: {{{name}}}, src: {{{internalPrefix}}}Validated.{{{name}}}, resolvedReferences: {{{internalPrefix}}}References.ResolvedReferences): {{{name}}} | {{{internalPrefix}}}Util.ResolutionError {
    const value = resolvedReferences.{{{name}}}[src];
    if (typeof value === "undefined") return new {{{internalPrefix}}}Util.ResolutionError(`Reference not found: [{{{name}}}/${src}]`)
    return value;
}
