export type {{{name}}} = undefined | {{{type}}};

export function {{{initializer}}}(validated: {{{internalPrefix}}}Validated.{{{name}}}): {{{name}}} {
    return undefined;
}

export function {{{resolver}}}(dest: {{{name}}}, src: {{{internalPrefix}}}Validated.{{{name}}}, resolvedReferences: {{{internalPrefix}}}References.ResolvedReferences): {{{name}}} {
    const value = resolvedReferences.{{{name}}}[src];
    if (typeof value === 'undefined') throw new {{{internalPrefix}}}Util.ResolutionError(`key not found: {{{name}}}/${src}`)
    return value;
}
