import * as Validated from "./{{{validated}}}";
import * as Partial from "./{{{partial}}}";
import * as Resolved from "./{{{resolved}}}";
import * as Util from "./{{{utilDir}}}";

export type ValidationUnknownData =
{{#referencesData}}
    {
        reference: "{{{name}}}",
        key: string,
        data: unknown,
    } |
{{/referencesData}}
    never;

export type ValidationFailureData =
{{#referencesData}}
    {
        reference: "{{{name}}}",
        key: string,
        error: Util.ValidationError,
    } |
{{/referencesData}}
    never;

export type ValidationSuccessData =
{{#referencesData}}
    {
        reference: "{{{name}}}",
        key: string,
        instance: Validated.{{{type}}},
    } |
{{/referencesData}}
    never;

export type ResolutionFailureData =
{{#referencesData}}
    {
        reference: "{{{name}}}",
        key: string,
        error: Util.ResolutionError,
    } |
{{/referencesData}}
    never;

export type ResolutionSuccessData =
{{#referencesData}}
    {
        reference: "{{{name}}}",
        key: string,
        instance: Resolved.{{{type}}},
    } |
{{/referencesData}}
    never;

{{#referencesData}}
export type ValidatedReference_{{{name}}} = {[key: string]: Validated.{{{type}}} };
export type PartialReference_{{{name}}} = {[key: string]: Partial.{{{type}}} };
export type ResolvedReference_{{{name}}} = {[key: string]: Resolved.{{{type}}} };
{{/referencesData}}

export type ValidationErrors = {
{{#referencesData}}
    {{{name}}}: {[key: string]: Util.ValidationError},
{{/referencesData}}
};

export function initValidationErrors(): ValidationErrors {
    return {
    {{#referencesData}}
        {{{name}}}: {},
    {{/referencesData}}
    };
}

export type ResolutionErrors = {
{{#referencesData}}
    {{{name}}}: {[key: string]: Util.ResolutionError},
{{/referencesData}}
};

export function initResolutionErrors(): ResolutionErrors {
    return {
    {{#referencesData}}
        {{{name}}}: {},
    {{/referencesData}}
    };
}

export type RawReferences = {
{{#referencesData}}
    {{{name}}}: {[key: string]: unknown},
{{/referencesData}}
};

export function initRawReferences(): RawReferences {
    return {
    {{#referencesData}}
        {{{name}}}: {},
    {{/referencesData}}
    };
}

export type ValidatedReferences = {
{{#referencesData}}
    {{{name}}}: ValidatedReference_{{{name}}},
{{/referencesData}}
};

export function initValidatedReferences(): ValidatedReferences {
    return {
    {{#referencesData}}
        {{{name}}}: {},
    {{/referencesData}}
    };
}

export type PartialReferences = {
{{#referencesData}}
    {{{name}}}: PartialReference_{{{name}}},
{{/referencesData}}
};

export function initPartialReferences(): PartialReferences {
    return {
    {{#referencesData}}
        {{{name}}}: {},
    {{/referencesData}}
    };
}

export type ResolvedReferences = {
{{#referencesData}}
    {{{name}}}: ResolvedReference_{{{name}}},
{{/referencesData}}
};

export function initResolvedReferences(): ResolvedReferences {
    return {
    {{#referencesData}}
        {{{name}}}: {},
    {{/referencesData}}
    };
}
