import {ValidationError} from "../ValidationError";
import * as Private from "../private";
import * as Public from "../public";

{{#isPublic}}
export type {{{typeName}}} = {{{value}}};

{{/isPublic}}
export function {{{validatorName}}}(data: unknown): {{{typeName}}} | ValidationError {
    const value = {{{valueValidatorName}}}(data);
    if (value instanceof ValidationError) return new ValidationError('Error encountered validating: [{{{valueTypeName}}}]', value);
    if (value === {{{value}}}) return value;
    return new ValidationError('Not [{{{value}}}]');
}
