function {{{translateName}}}(data: unknown): {{{typeName}}} | TTG_TranslationError {
    if (typeof data !== "{{{typeName}}}") return new TTG_TranslationError("Not a {{{typeName}}}");
    return data;
}
