import * as Util from "../util";
import * as Private from "../private";
import * as Public from "../public";

{{#isPublic}}
export type {{{typeName}}} = {{{namespacedTypeDef}}};

{{/isPublic}}
export const {{{validatorName}}} = Util.validateDictionary({{{typeValidatorName}}});
